*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.html
*.pdf
*.png
*.tiff
*.jpg
*.tab
*.Rdata
*.zip
*.fasta
*.fasta.gz
genes.rd.txt
bioData/*
data/*
doc/*
results/correlation/*
results/DE/*
results/gene_plots/*
results/heatmaps/*
results/multivariate_analysis_by_variety/*
rice_shade.Rproj
scripts/rice_shade-IR64.R
results.zip
.Rproj.user
